@use '../../../../styles/index' as *;

.content-section {
  padding: $spacing-8 0;
  background-color: $bg-secondary;

  &--dark {
    background-color: $bg-secondary;
  }

  &__container {
    @include container($container-xl);
    text-align: center;
  }

  &__badge {
    display: inline-flex;
    align-items: center;
    padding: $spacing-2 $spacing-4;
    background-color: rgba($primary-navy, 0.1);
    color: $primary-navy;
    border-radius: $radius-full;
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    margin-bottom: $spacing-6;
  }

  &__title {
    @include heading-2;
    margin-bottom: $spacing-6;
  }

  &__description {
    @include body-large;
    color: $text-secondary;
    max-width: 1000px;
    margin: 0 auto $spacing-12;
  }

  &__content {
    margin-top: $spacing-12;
  }
}
